<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <span><img src="./assets/.png"></span>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Sling</h1>
    <span class="menu-spacer"></span>
    <div>

      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
     <a mat-button [routerLink]="'/activities'"> Activities </a>

    </div>
  </mat-toolbar-row>
<mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
      <li><a mat-list-item [routerLink]="'/accounts'"> Accounts </a></li>
      <li><a mat-list-item [routerLink]="'/create-account'"> Create Account </a></li>
      <li><a mat-list-item [routerLink]="'/contacts'"> Contacts </a></li>
      <li><a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a></li>
      <li><a mat-list-item [routerLink]="'/activities'"> Activities </a></li>
      <li><a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a></li>
      <li><a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a></li>
</mat-sidenav>


</mat-sidenav-container>
<router-outlet></router-outlet>
